.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--white);
  border-bottom: solid 1px #eee;
  /* box-shadow: var(--shadow); */
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: .75rem;
  font-weight: 800;
  color: var(--blue-900);
}

.navbar-brand img {
  width: 40px;
}

.navbar-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.elemento {
  font-size: 18px;
}

.contenedor-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
}

.contenedor-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
}

.nombre {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 550;
}

/* Estado normal del botón */
.btn-contacto {
  background-color: #4564A1;
  border: 0px;
}

/* Al pasar el mouse: vuelve al color primary de Bootstrap */
.btn-contacto:hover {
  background-color: var(--bs-primary) !important; /* usa el token de Bootstrap */
}


